<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.yipzale.water.article.mapper.ArchiveMapper">

    <resultMap type="me.yipzale.water.article.entity.Archive" id="archiveMap">
        <id column="id" property="id" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="alias" property="alias" jdbcType="VARCHAR" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />

        <collection property="archiveNodes" ofType="Archive">
            <id column="archiveNodes_id" property="id" jdbcType="INTEGER" />
            <result column="archiveNodes_title" property="title" jdbcType="VARCHAR" />
            <result column="archiveNodes_alias" property="alias" jdbcType="VARCHAR" />
            <result column="archiveNodes_path" property="path" jdbcType="VARCHAR" />
            <result column="archiveNodes_parent_id" property="parentId" jdbcType="INTEGER" />
            <result column="archiveNodes_created_at" property="createdAt" jdbcType="TIMESTAMP" />

            <collection property="articles" ofType="article" column="archiveNodes_id" select="me.yipzale.water.article.mapper.ArticleMapper.selectByArchiveId">
            </collection>
        </collection>
    </resultMap>
</mapper>